
<script> $(document).ready(function(){ $('.carousel').carousel(); });</script>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     <!--<%= link_to image_tag("IMG_4810.JPG", alt: "", size: "1000x1000") %> -->
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<%= stylesheet_link_tag 'assets/stylesheets/out' %>

<style type="text/css">
.center-block 
{
  text-align: center;
}

</style>


<div class="center-block">
<address>
  <strong>Shreeji Classes</strong><br>
  Address Here<br>
  Himatnagar<br>
  <abbr title="Phone">P:</abbr> Add Phone number
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>
</div>