<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
  <div class="jumbotron">
    <h1 >Test Papers</h1>
    <p>Take a Test to Enhance your Level</p> 
  </div>
  </div>
</body>

<div class="container">
<p><b>As you Know Practise makes Things perfect.
To achieve big in maths is all leads you toward practise sessions</b></p>
<p><b>Here is something that you can practise with your maths and can Solve some of the hard Questions.</b></p>
</div>
<div class="container">
<p><em> Test Papers shown below:</em></p>
</div>

<!--<div class="container">
<%= bootstrap_form_for :form, :html => { :multipart => true } do |f| %>
<h6>Upload Your File Here..</h6>
  <%= f.file_field :file  %>

   <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
-->
</div>

