<% provide(:title,"New Form") %>
<style type="text/css">
h1{
	text-align: center;
	font-family: Times;
	
  }
</style>
<h1 style="color:grey"><b><u>Enrollment Form</u></b></h1><br>

<%= render 'form' %>

<%= link_to 'Back', forms_path %>
