.my
{
	width: 100%;
	text-align: center;
}

#owl-demo .item img
{
    display: ;
    width: 100%;
    height: auto;
}

/*
   #devise-body h2 {
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: solid 1px #ccc;
}

#devise-body > a {
  text-decoration: underline;
  padding: 0 5px;
}

#devise-body > br {
  display: none;
}

#devise-body form {
  margin-bottom: 20px;
}



.center-block {
  text-align: center;
  float: none;
  margin: 0 auto;
} 
 


