<!DOCTYPE html>
<html>
<head>
  <title>Shriji</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




<%= yield %>

<footer class="text-center text-muted" style="margin-top: 30px;">
    <ul class="list-inline">
      <li>
        &copy; SHREEJI CLASSES.
      </li>
    </ul>
  </footer>


</body>
</html>
